#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar{
position: fixed;
top:0;
width: 100%;
left: 0;
display: flex;
justify-content:center;
align-items: center;
gap:5rem;
z-index: 1000;
background-color: white;
font-size: 1rem;
}

.navbar-list {
  display: flex;
  list-style: none; 
}

.navbar-item{
padding: 4px;
margin: 4px;
}

.navbar-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar-item a:hover {
  color: #2282be; 
}

.logout-button {
  background:none;
  color: black;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #f6cdcd;
}

.posts{
  display: flex;
  flex-direction: column;
}

.blogcard{
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
}

.blogcard h1,h2,p {
  color: rgb(80, 78, 78);
}

.blogcard:hover{
  cursor: pointer;
  background-color: antiquewhite;
}